html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* <weight>: Use a value from 100 to 800
// <uniquifier>: Use a unique and descriptive class name
*/


.suse-<uniquifier> {
  font-family: "SUSE", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
    font-family: "SUSE", serif;
    font-weight: 200;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500; /* Use for titles and headings */
    margin: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f8bc55;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

footer{
    position:absolute;
    width:100%;
    height:50px;;
    background-color: #ffffff;
    font-family:"SUSE", serif;
    color:#000000;
    padding:20px;

}

wrap {
    min-height:100vh;
    position: relative;
    width:100%;
}

p {
    margin: 10px;
    font-size: 18px;
}

h1 {
    
    font-size: 30px;
}

h1 a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

h1 a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    border-bottom: 2px solid #fff;
}

main {
    margin-left: 270px;
    padding: 40px;
    max-width: calc(100% - 270px);
    text-align: left;
}

.bio-section {
    margin-bottom: 40px;
    margin-right: calc(30%);
}

h2 {
    color: #e8771a;
    margin-bottom: 10px;
}

.skills-section, .contact-section, .education-section {
    margin-bottom: 40px;
}

.skills-section p, .contact-section, .education-section p {
    margin: 10px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.image-slider {
    margin-left: 270px;
    margin-top: 20px;
    padding: 10px 20px;
    max-width: calc(100% - 400px);
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    display: none;
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.dot-container {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #fff;
}

.gallery img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.film_gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.film_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}


.image-entry {
    width: calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}

.full-gallery img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 8px;
}

.full-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: left;
}
.full-image-entry {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.smaller-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 20px; /* Space between images */
    padding: 20px;
}

.smaller-gallery img {
    width: 100%; /* Full width within grid */
    height: auto;
    border-radius: 8px; /* Optional: Rounded corners */
}

.smaller-image-entry {
    overflow: hidden;
    position: relative;
}



@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        margin-left: 0;
        padding: 0 10px 10px 10px;
        max-width: 100%;
        margin-top: 20px;
    }

    .image-slider {
        margin-left: 0;
        padding: 10px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    footer {
        width: 100%;
        margin-left: 0;
    }

    .image-entry {
        width: calc(100% - 10px);
    }
}

.video-container {
    width: 100%;
    max-width: 900px;   /* 원하는 최대 크기 */
}

.video-container video {
    width: 100%;
    height: auto;      /* 비율 유지 */
    border-radius: 8px;
    display: block;
}



.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    transition: 0.3s ease;
}

.film_project {
    position: relative;
    overflow: hidden;
}

.film_project img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    transition: 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0; /* Start with the overlay hidden */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.project:hover .overlay {
    opacity: 1; /* Show the overlay on hover */
    transform: scale(1.05)
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    gap: 20px; /* Space between the image and text */
    margin-top: 20px; /* Add additional margin for spacing */
}

.career-image img {
    max-width: 300px; /* Max width for the image */
    height: auto;
    border-radius: 8px; /* Optional: Rounded corners */
}

.project-details {
    max-width: 600px; /* Limit the width of text for readability */
    line-height: 1.8;
}

.drawing-gallery img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    position:relative;
}

.drawing-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    text-align: left;
}
.drawing-image-entry {
    text-align: left;
    position:relative;
    overflow: hidden;
}

.drawing-image-entry  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    transition: 0.3s ease;
}

/* 모달 스타일 */
.modal {
  display: none; /* 기본은 숨김 */
  position: fixed;
  z-index: 2000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8); /* 반투명 검정 배경 */
}

/* 모달 이미지 스타일 */
.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 80%;
  border-radius: 8px;
}

/* 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #bbb;
}
